<launch>
  <param name="use_sim_time" value="false"/>
  <param name="robot_description" command="cat $(find neato_urdf)/neato_xv11.urdf" />
  
  <param name="walk_vel" value="0.1" />
  <param name="run_vel" value="0.3" />
  <param name="yaw_rate" value="0.1" />
  <param name="yaw_run_rate" value="0.3" />
  
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base" 
    args="-0.1016 0 0.0889 0 0 0 base_link base_laser_link 50" />

  <node name="neato" pkg="neato_node" type="neato.py" output="screen" />
</launch>

